/lab02/build/
/lab02/dist/
/ea_midterm_st/build/
/ShopWeb/build/
/unit07/nbproject/private/
/unit07/build/
/unit07/dist/
/ShopWeb/dist/
/unit09/nbproject/private/
/unit09/build/
/unit09/dist/
/unit10/nbproject/private/
/unit10/build/
/lab-base/dist/
/unit11/nbproject/private/
/unit11/build/
/unit11/dist/
/lab03/dist/